@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

a[href^="http"] {
  color: inherit;
}

body {
  background: #997B66;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#myVideo {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 1;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin: 20 px;
}

footer {
  align-items: center;
  color: white;
  height: 50px;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

h5 {
  color: white;
}

p {
  font-size: 15px;
}

span {
  color: red;
}

.background-info {
  margin: 10px;
}

.btn {
  background-color: #F1DCA7;
  border-radius: 12px;
  color: #797D62;
  display: inline-block;
  flex: 1 1 0px;
  margin: 5px;
  outline: 1px #997B66;
  padding: 10px;
}

.btn:hover {
  background-color: #FFCB69;
  color: #997B66;
  outline: 1px #997B66;
}

.change-password,
#sign-out,
.get-my-hikes,
.get-all-hikes,
.show-hike,
.update-hike,
.delete-hike,
.create-hike,
.resource-view,
#hikes-display {
  display: none;
}

.main {
  background-color: #797D62;
  border-radius: 12px;
  padding: 20px;
  color: white;
  justify-content: center;
}

.create-hike {
  justify-content: center;
}

.expand-to-height-of-child {
  display: inline-block;
  width: 100%;
}

.modal-body {
  color: #2D3F33;
}

.modal-title {
  color: #2D3F33;
  text-align: center;
}

.title {
  font-size: 150px;
  margin: 5px;
  text-align: center;
  color: white;
}

#message-center {
  color: white;
  text-align: center;
}

footer {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}
